<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/download.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main">
        {{>header}}
        <img src="/img/asahi-saiba.jpg">


    </div>
    
    {{>footer}}
</body>

</html>