<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/download.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    <div class="main">
        {{>header}}
        {{>error}}
    </div>
    {{>footer}}
</body>

</html>